<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="doctors_openMRS">
        <classes>
            <class name="com.doctor.testcases.LoginPageTests"></class>
            <class name="com.doctor.testcases.RegisterPatientTests"></class>
            <class name="com.doctor.testcases.PatientPageTests"></class>
        </classes>
    </test>
</suite>